#app .v-btn {
  &:not(.v-btn--outlined) {
    &.primary,
    &.secondary,
    &.accent,
    &.success,
    &.error,
    &.warning,
    &.info {
      color: map-get($solarized, 'base0');
    }
  }

  color: map-get($solarized, 'base0');

  &:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: elevate('base03', '4');
  }

  &.v-btn--icon {
    color: map-get($solarized, 'base0');
  }
}
