// globals
$body-font-family: 'Iosevka Aile Web', sans-serif;

$solarized: (
  'base03': #002b36,
  'base02': #073642,
  'base01': #586e75,
  'base00': #657b83,
  'base0': #839496,
  'base1': #93a1a1,
  'base2': #eee8d5,
  'base3': #fdf6e3,
  'yellow': #b58900,
  'orange': #cb4b16,
  'red': #dc322f,
  'magenta': #d33682,
  'violet': #6c71c4,
  'blue': #268bd2,
  'cyan': #2aa198,
  'green': #859900
);

$shades: (
  'black': #000000,
  'white': #ffffff,
  'transparent': transparent,
);

$dark-elevation-percentage: (
  '0': -5%, // here as a reminder, shouldn't be hit directly
  '1': 0%,
  '2': 2%,
  '3': 3%,
  '4': 4%,
  '6': 6%,
  '8': 7%,
  '12': 9%,
  '16': 10%,
  '24': 11%
);

@function elevate($color, $level) {
  @if $level == '0' {
    @return mix(map-get($shades, 'black'), map-get($solarized, $color), 5%);
  } @else {
    @return mix(map-get($shades, 'white'), map-get($solarized, $color), map-get($dark-elevation-percentage, $level));
  }
}

$material-dark: (
  'app-bar': elevate('base03', '4'),
  'background': elevate('base03', '0'),
  'cards': elevate('base03', '1'),
  'icons': (
    'active': map-get($solarized, 'base0'),
    'inactive': rgba(map-get($solarized, 'base0'), 0.5),
  ),
  'text': (
    'theme': map-get($solarized, 'base0'),
    'primary': map-get($solarized, 'base0'),
    'secondary': map-get($solarized, 'base01'),
    'disabled': map-get($solarized, 'base02'),
  ),
);
